*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  display: flex;
  max-width: 1140px;
  margin: 20px auto;
  min-height: 500px;

  .nav{
    flex: 0 0 25%;
    font-size: 16px;
    font-weight: 700;
      list-style-type: none;
    a{
      text-decoration: none;
      color: black;
      &:hover{
        text-decoration: yellow;
        span{
          background-size: 100% 3px;
          background-position: left 0 bottom 0;
        }
      }

      span{
        background-image: linear-gradient(0deg,#fddc05,#fddc05);
        background-repeat: no-repeat;
        background-size: 0 3px;
        background-position: right 0 bottom 0;
        transition: background-size .4s ease;
      }
    }
  }

  .video{
    flex: 1;

    position: relative;
    overflow: hidden;
    iframe{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .rocket-chat{
    iframe{
      height: 100%;
      width: 100%;
    }
  }
}